<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747691333334-2ou6i8imtsrnlcomh1ubnhs3d5oth28r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747691333334-2ou6i8imtsrnlcomh1ubnhs3d5oth28r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>747691333334-9fa5r4p4pmlei2p7ccq3u38t3b3o5pqn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT2wgtfqQyfKDZngYpRJbVmE32UoNB2oo</string>
	<key>GCM_SENDER_ID</key>
	<string>747691333334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>link.solotravel.ios.test</string>
	<key>PROJECT_ID</key>
	<string>solotravel-659b4</string>
	<key>STORAGE_BUCKET</key>
	<string>solotravel-659b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747691333334:ios:954d2382acfdc6fd5a1b77</string>
	<key>DATABASE_URL</key>
	<string>https://solotravel-659b4.firebaseio.com</string>
</dict>
</plist>